<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nicePOPUP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52E7B7161E0660B70031FA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E7B72A1E0660B70031FA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E7B7351E0660B70031FA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
